#settingsDiv{
  position: absolute;
  bottom: 0px;
  
  width: 50%;
  
  z-index: 1;
  
  background-color: rgba(0,0,0,0.4);
  border: 1px solid black;
  
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#tagsForEditing{
  z-index: 1;
  width: 100%;
  
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  background-color: rgba(0,0,0,0.4);
}
.tagToEdit{
  width: 85%;
  margin- auto;
  margin-top: 3px;
  margin-bottom: 3px;
  
  padding- 5px 0px;
  
  font-size: 20px;
  background-color- white;
  border-radius: 4px;
  
  /*border- 2px dashed gray;*/
    
  text-align:center;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagText{
  width: 65%;
}
.tagToEdit i, #tagsForEditing i{
  margin-left: 2px;
  padding: 2px 4px;
  
  background-color: white;
  border-radius: 4px;
}
.tagEditButton{
  margin-left: 10px;
  padding: 2px 4px;
  
  background-color: white;
  border-radius: 4px;
}
